body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #e4e4e4, #f9f9f9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  background-image: linear-gradient(45deg, #888, #555);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  background-image: linear-gradient(45deg, #555, #333);
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}


@media screen and (max-width: 576px) {
  .logo-img {
    width: 100px;
    height: auto;
  }

  .logo-th {
    font-size: 1rem;
  }

  .logo-en {
    font-size: 0.7rem;
  }

  .form-header {
    font-size: 1rem;
  }

  .form-lebel,
  .col-form-label,
  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .form-province {
    margin-top: 2rem;
  }

  .text-popup {
    font-size: 2.25rem;
    font-weight: 300;
  }

}

@media screen and (min-width: 576px) {
  .logo-img {
    width: 120px;
  }

  .logo-th {
    font-size: 1.2rem;
  }

  .logo-en {
    font-size: 0.8rem;
  }

  .form-header {
    font-size: 1.2rem;
  }

  .form-lebel,
  .col-form-label,
  p {
    font-size: 1rem;
  }

  .text-popup {
    font-size: 2.25rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    width: 150px;
  }

  .logo-th {
    font-size: 1.5rem;
  }

  .logo-en {
    font-size: 1.2rem;
  }

  .form-header {
    font-size: 1.5rem;
  }

  .form-lebel,
  .col-form-label,
  p {
    font-size: 1.1rem;
  }

  .text-popup {
    font-size: 2.5rem;
    font-weight: 300;
  }

}

@media screen and (min-width: 992px) {
  .logo-img {
    width: 200px;
  }

  .logo-th {
    font-size: 1.8rem;
  }

  .logo-en {
    font-size: 1.3rem;
  }

  .form-header {
    font-size: 1.8rem;
  }

  .form-lebel,
  .col-form-label,
  p {
    font-size: 1.2rem;
  }

  .text-popup {
    font-size: 2.75rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 1200px) {
  .logo-img {
    width: 250px;
  }

  .logo-th {
    font-size: 2.2rem;
  }

  .logo-en {
    font-size: 1.5rem;
  }

  .form-header {
    font-size: 2.2rem;
  }

  .form-lebel,
  .col-form-label,
  p {
    font-size: 1.3rem;
  }

  .text-popup {
    font-size: 2.75rem;
    font-weight: 300;
  }

}

.MuiFormControl-root.MuiTextField-root.css-11gc0et-MuiFormControl-root-MuiTextField-root {
  min-width: 0;
  width: 100%;
}

.MuiFormControl-root.MuiTextField-root.css-xtpn3w-MuiFormControl-root-MuiTextField-root {
  min-width: 0;
  width: 100%;
}

span {
  color: red;
  font-size: 1.3rem;
}

.form-control,
.form-select {
  border-color: rgba(0, 0, 0, 0.23);
}

.MuiCardActions-root:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

.form-control:hover,
.form-select:hover,
.select2-container--bootstrap-5 .select2-selection--single:hover {
  border-color: rgba(0, 0, 0, 0.80);
}

.button-custom {
  width: 100%;
  margin-top: 3rem;
  background-color: #1B6BB2;
  padding: 0.5rem;
  max-width: 30%;
  border-radius: 15px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-custom:hover {
  background-color: #155080;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.popup_inner {
  position: relative;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.check-icon {
  color: green;
  font-size: 5rem;
  transform: scale(1);
  animation: scale-up 0.3s alternate ease-out;
}

@keyframes scale-up {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.helper-text-start,
.helper-text-end {
  margin-top: .25rem;
  font-size: .875em;
  display: block;
  font-family: "Mitr", sans-serif;
  color: var(--bs-form-invalid-color);
}


.select2-container--bootstrap-5 .select2-selection--single {
  background-position: right .75rem center;
  padding: .375rem .75rem .375rem .75rem;
}

.select2-container--bootstrap-5 .select2-dropdown {
  color: #212529;
  font-weight: 200;
}

li {
  color: #000;
  font-size: 1.25rem;
  font-weight: 300;
}


.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__option--highlighted) {
  color: #fff;
  background-color: rgba(75, 75, 75, 0.8);
}

.select2-selection__rendered {
  font-size: 1rem;
  font-weight: 400;
}